.bottom {
	color: white;
	position: unset;
	display: flex;
	background-color: #232f3e;
	overflow: hidden;
	/* Hide overflow to create a seamless loop */
}

.bottom {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.bottom::-webkit-scrollbar {
	display: none;
}

.bLeft {
	display: flex;
	align-items: center;
	padding: 0 10px;
	border: 1px solid transparent;
	cursor: pointer;
	border-radius: 2px;
}

.bLeft:hover {
	border: 1px solid white;
}

.bottom p {
	text-transform: uppercase;
	padding: 10px;
	font-size: 13px;
	border: 1px solid transparent;
	border-radius: 2px;
	cursor: pointer;
	white-space: nowrap;
}

.bottom p:hover {
	border: 1px solid white;
}

.bCenter {
	display: flex;
	flex: 1;
	overflow: hidden;
}

.marquee {
	display: flex;
	flex-shrink: 0;
	/* overflow: hidden; */
	animation: marquee 20s linear infinite;
}

.marqueeContent {
	width: 2400px;
	display: flex;
	flex-shrink: 0;
	justify-content: space-around;
	/* animation: marquee 20s linear infinite;  */
}

.marquee:hover {
	animation-play-state: paused;
}

@keyframes marquee {
	0% {
		transform: translateX(-1200px);
	}

	100% {
		transform: translateX(0);
	}
}