.container {
	padding: 20px;
}
.leftArrow {
	position: absolute;
	left: 5px;
	top: 50%;
	padding: 10px;
    border-radius: 10%;
    background-color: #ffffff96;
    cursor: pointer;
    box-shadow: 5px 5px 20px #13192185;
    z-index: 1;
	backdrop-filter: blur(10px);
}

.rightArrow {
	position: absolute;
	right: 5px;
	top: 50%;
	padding: 10px;
    border-radius: 10%;
    background-color: #ffffff96;
    cursor: pointer;
    box-shadow: 5px 5px 20px #13192185;
    z-index: 1;
	backdrop-filter: blur(10px);
}
.wrapper {
	padding: 20px;
	background-color: white;
	overflow-x: hidden;
	position: relative;
	border-radius: 7px;
}
.wrapper h2 {
	font-size: 1rem;
	margin-bottom: 10px;
}
.cards {
	display: flex;
	overflow-x: scroll;
	scrollbar-width: none;
	scrollbar-color: gray;
}
.card {
	margin: 5px 7px;
	margin-bottom: 20px;
	cursor: pointer;
}
.imgContainer {
	position: relative;
	width: 13vw;
	height: 13vw;
}
.imgContainer img {
	object-fit: cover;
}

.cards::-webkit-scrollbar {
	display: none;
}

.cards::-webkit-scrollbar-thumb {
	display: none;
}
.cards:hover::-webkit-scrollbar-thumb {
	display: none;
}

@media screen and (max-width: 850px) {
	.leftArrow{
		display: none;
	}
	.rightArrow{
		display: none;
	}
}
@media screen and (max-width: 600px) {
	.container {
		padding: 5px;
	}
	.wrapper {
		padding: 5px;
	}
	.wrapper h2 {
		font-size: 15px;
	}
	.cards {
		scrollbar-width: none;
	}
	.imgContainer {
		width: 150px;
		height: 150px;
	}
}
