@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

.container {
    padding: 20px;
    
}

.leftArrow {
    position: absolute;
    left: 5px;
    top: 50%;
    padding: 10px;
    border-radius: 10%;
    background-color: #ffffff96;
    cursor: pointer;
    box-shadow: 5px 5px 20px #13192185;
    z-index: 1;
    backdrop-filter: blur(10px);
}

.rightArrow {
    position: absolute;
    right: 5px;
    top: 50%;
    padding: 10px;
    border-radius: 10%;
    background-color: #ffffff96;
    cursor: pointer;
    box-shadow: 5px 5px 20px #13192185;
    z-index: 1;
    backdrop-filter: blur(10px);
}

.wrapper {
    padding: 20px;
    background-color: white;
    overflow-x: hidden;
    position: relative;
    border-radius: 7px;
    
}

.wrapper h2 {
    font-size: 1rem;
    margin-bottom: 10px;
}

.cards {
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none;
    scrollbar-color: gray;
}





.productCard {
    min-width: 300px;
    position: relative;
    box-shadow: 0 2px 7px #dfdfdf;
    margin: 20px 20px;
    background: #ffffff;
    border-radius: 7px;
    cursor: pointer;
}

.badge {
    position: absolute;
    left: 0;
    top: 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background: red;
    color: #fff;
    padding: 3px 10px;
}

.productTumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    padding: 10px;
    padding-top: 20px;
}

.productTumb img {
    max-width: 90%;
    max-height: 90%;
}

.productCard:hover {
    scale: 1.03;
    transition: all .3s ;
}

.productDetails {
    padding: 20px;
    background: #f7f8f8;
    border-radius: 0 0 7px 7px;
}

.productCatagory {
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ccc;
    margin-bottom: 18px;
}

.productDetails h4 {
    font-weight: 500;
    display: block;
    /* margin-bottom: 18px; */
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    transition: 0.3s;
}

.productDetails h4:hover {
    color: #fbb72c;
    cursor: pointer;
}

.productDetails p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 10px;
    color: #999;
}

.productBottomDetails {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 10px;
}

.productBottomDetails div {
    float: left;
    width: 50%;
}

.productPrice {
    font-size: 18px;
    color: #999;
    font-weight: 600;
}

.productPrice small {
    font-size: 80%;
    font-weight: 400;
    text-decoration: line-through;
    display: inline-block;
    margin-right: 5px;
}

.productLinks {
    text-align: end;
    /* margin-left: 5px; */
}

.productLinks a {
    display: inline-block;
    color: #e1e1e1;
    transition: 0.3s;
    font-size: 20px;
    margin-left: 10px;
}

.productLinks a:hover {
    /* color: #fbb72c; */
    color: red;
}