@import url('https://fonts.googleapis.com/css?family=Poppins:100,300,400,500,600,700,800,800i,900&display=swap');

.container {
	padding: 20px;
}

.leftArrow {
	position: absolute;
	left: 5px;
	top: 50%;
	padding: 10px;
	border-radius: 10%;
	background-color: #ffffff96;
	cursor: pointer;
	box-shadow: 5px 5px 20px #13192185;
	z-index: 1;
	backdrop-filter: blur(10px);
}

.rightArrow {
	position: absolute;
	right: 5px;
	top: 50%;
	padding: 10px;
	border-radius: 10%;
	background-color: #ffffff96;
	cursor: pointer;
	box-shadow: 5px 5px 20px #13192185;
	z-index: 1;
	backdrop-filter: blur(10px);
}

.wrapper {
	padding: 20px;
	background-color: white;
	overflow-x: hidden;
	position: relative;
	border-radius: 7px;
}

.wrapper h2 {
	font-size: 1rem;
	margin-bottom: 10px;
}

.cards {
	display: flex;
	overflow-x: scroll;
	scrollbar-width: none;
	scrollbar-color: gray;
}



.cards::-webkit-scrollbar {
	display: none;
}

.cards::-webkit-scrollbar-thumb {
	display: none;
}

.cards:hover::-webkit-scrollbar-thumb {
	display: none;
}


.container {
    position: relative;
}

.card {
    position: relative;
    width: 320px;
    height: 450px;
    background: #232323;
    border-radius: 20px;
    overflow: hidden;
}

.card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: lightgray;
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
}

.card:hover::before {
    clip-path: circle(300px at 80% -20%);
}

.bgtext {
    position: absolute;
    top: 30%;
    left: -10%;
    font-size: 10em;
    font-weight: 800;
    font-style: italic;
    color: rgba(255, 255, 255, 0.04);
}
.imgContainer{
    display: flex;
    height: 100%;
    /* align-items: center; */
    justify-content: center;
}

.imgBx {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    width: 300px;
    height: 300px;
    transform: translateY(-50%);
    z-index: 1;
    transition: .5s;
    background-color: white;
    border-radius: 50%;
    overflow: hidden;
    
}

.card:hover .imgBx {
    top: 0%;
    transform: translateY(-25%);
}

.imgBx img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(20deg);
    width: 270px;
    
}

.contentBx {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 90;
}

.card:hover .contentBx {
    height: 210px;
}

.contentBx h2 {
    text-transform: uppercase;
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
}

.size,
.color {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: .5s;
    opacity: 0;
    visibility: hidden;
}

.card:hover .size {
    opacity: 1;
    visibility: visible;
    transition-delay: .5s;
}

.card:hover .color {
    opacity: 1;
    visibility: visible;
    transition-delay: .6s;
}

.size h3,
.color h3 {
    color: white;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
}

.size span {
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    display: inline-block;
    color: #111;
    background: #fff;
    margin: 0 5px;
    transition: .5s;
    border-radius: 4px;
    cursor: pointer;
}

.size span:hover {
    background: #B90000;
}

.color span {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.color1 {
    background: #ff0;
}

.color2 {
    background: #1BBFE9;
}

.color3 {
    background: #1B2FE9;
}

.color4 {
    background: #080481;
}

.contentBx a {
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    border-radius: 4px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
    color: #111;
    opacity: 0;
    transform: translateY(50px);
    transition: .5s;
}

.card:hover .contentBx a {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: .7s;
}
