@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;1,500&display=swap');
* {
	margin: 0;
	padding: 0;
	/* font-family: sans-serif; */
	font-family: 'Poppins', sans-serif;
}
body {
	background-color: #e3e6e6;
}
img {
	object-fit: contain;
}
@media screen and (max-width: 600px) {
	::-webkit-scrollbar {
		display: none;
	}
}
